---
export interface Props {
	title: string
	description: string
	image?: string
}
const { title, description, image = '/placeholder-social.jpg' } = Astro.props
---

<!-- <base href="https://m1d1.black"> -->
<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="generator" content={Astro.generator} />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="canonical" href="https://m1d1.black" />
<link rel="icon" type="image/svg+xml" href="/midi.svg" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<style>
	@font-face {
		font-family: 'Unbounded-fallback';
		size-adjust: 131.9%;
		src: local('Arial');
	}
	@font-face {
		font-family: 'Unbounded';
		font-style: normal;
		font-weight: 800;
		src: local(''), url('/fonts/bl.woff2') format('woff2');
		font-display: swap;
	}
	@font-face {
    font-family: "IBM Plex Mono-fallback";
		font-style: italic;
    size-adjust: 138.2%;
    src: local("Arial");
}
	@font-face {
		font-family: 'IBM Plex Mono';
		font-style: italic;
		font-weight: 200;
		src: local(''), url('/fonts/pm.woff2') format('woff2');
		font-display: swap;
	}
</style>
