---
import { Icon } from 'astro-icon'
import { WW_LINK } from '../config'

// import SocialMedia from '@components/SocialLink.astro'
// import {
// 	BANDCAMP_LINK,
// 	BEATPORT_LINK,
// 	DISCOGS_LINK,
// 	FACEBOOK_LINK,
// 	INSTAGRAM_LINK,
// 	SOUNDCLOUD_LINK,
// 	SPOTIFY_ARTIST_LINK
// } from '../config'
// const currentYear = new Date().getFullYear()
---

<footer aria-labelledby="footer-heading">
	<h2 id="footer-heading">
		<a aria-label="w&w crew logo" href={new URL(WW_LINK)} rel="external noopener" target="_blank">
			<Icon class="glow" name="ww" />
		</a>
	</h2>
	<!--
	<nav>
		<ul>
			<SocialMedia platform="Bandcamp" link={BANDCAMP_LINK} />
			<SocialMedia platform="Beatport" link={BEATPORT_LINK} />
			<SocialMedia platform="Discogs" link={DISCOGS_LINK} />
			<SocialMedia platform="Spotify" link={SPOTIFY_ARTIST_LINK} />
			<SocialMedia platform="Soundcloud" link={SOUNDCLOUD_LINK} />
			<SocialMedia platform="Instagram" link={INSTAGRAM_LINK} />
			<SocialMedia platform="Facebook" link={FACEBOOK_LINK} />
		</ul>
	</nav> -->
	<!-- <p>
		&copy; {currentYear}
	</p> -->
</footer>

<style lang="scss">
	svg {
		fill: white !important;
	}
	[astro-icon] {
		animation: var(--animation-scale-down) reverse, var(--animation-fade-out) reverse;
		animation-timing-function: var(--ease-squish-5);
		animation-duration: 1s;
		fill-opacity: 0.6;
		transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
		width: 7rem;
	}
	[astro-icon]:hover {
		fill-opacity: 1;
		filter: drop-shadow(0 0 8px var(--teal-7));
		scale: 120%;
	}
</style>
